
body {
    background-image: url("images/bg.jpg");
    background-size: cover;
}

#names {
    background-color: lightgray;
    border: 2px solid black;
    height: 30%;
    width: 15%;
    padding-left: 10px;
    padding-top: 10px;
}

#categories {
    margin-right: 45%;
    float: right;
    border: 2px solid black;
    padding-left: 10px;
    padding-right: 10px;
    background-color: lightgray;
    display: inline;
}

.playerBox {
    display: inline;
    border: 2px solid black;
    background-color: lightgray;
    text-align: center;
    margin-top: 5%;
}

#playerStats0 {
    margin-left: 20%;
    /*margin-top: 20%;*/
    float: left;
    display: inline;

}

#playerStats1 {
    margin-right: 20%;
    float: right;
    display: inline;
    margin-top: 5%;

}

h3 {
    /*padding-left: 200px;*/
}

/*border*/
img {
    border-radius: 50%;
    padding: 20px;
    border-width: 2px;
    border-color: black;
}

