body {
    background-image: url("images/bg.jpg");
    background-size: cover;
}

#categories {
    /*margin: auto;*/
    margin: 0 10px 0 10px;
    display: inline;
    padding: 0 10% 0 10%;
    /*background-color: lightgray;*/
    /*border: 2px solid black;*/
}

.playerBox {
    display: inline;
    border: 2px solid black;
    background-color: lightgray;
    text-align: center;
    margin-top: 10%;
}

#playerStats0 {
    margin-left: 20%;
    /*margin-top: 20%;*/
    float: left;




}

#playerStats1 {
    /*padding-right: 20%;*/
    float: right;
    display: inline;

}

h3 {
    /*padding-left: 200px;*/
}

/*border*/
img {
    border-radius: 50%;
    padding: 20px;
    border-width: 2px;
    border-color: black;
}

.goals {
    color: #23b01a;
}